html, body{
	height: 100%;
}

.current{
	background:linear-gradient(90deg, #0a3f69 85%, #ffffff 15%);
}

.sidenav{
	height: 100%;
	width: 10%;
	position: fixed;
	top: 0;
	background-color: #2d73ad;
	padding-top: 3px;
}

.sidenav a {
	padding: 6px 6px 6px 28px;
	margin-bottom:4px; /*add margin between links*/
	font-size: 20px;
	color: #ffffff;
	display: block; /*displays the links in a block(full width of sidenav)*/
	background-position: right; /*must exist for the animation on hover*/
}
.sidenav a:hover {
	/*when user hovers, the background of link changes with transition(from left to right)*/
	background: linear-gradient(90deg, #0a3f69 50%, #e7f6fc 50%);
	background-size: 170%;
	transition: .3s ease-out;
}
