html, body{
	height: 100%;
}
.current{
	background:linear-gradient(90deg, #FFFFFF 85%, #437F97 15%);
}
.sidenav{
	height: 100%;
	width: 80px;
	position: fixed;
	top: 0;
	background-color: #010142;
	padding-top: 3px;
}

.sidenav a {
	padding: 6px 6px 6px 28px;
	margin-bottom:4px; /*add margin between links*/
	font-size: 25px;
	color: #437F97;
	display: block; /*displays the links in a block(full width of sidenav)*/
	background-position: right; /*must exist for the animation on hover*/
}
.sidenav a:hover {
	/*when user hovers, the background of link changes with transition(from left to right)*/
	background: linear-gradient(90deg, #a7b9c8 50%, #437F97 50%);
	background-size: 170%;
	transition: .3s ease-out;
}
.main {
	/*in main there will be the container with content*/
	margin-left: 80px; /* Same as the width of the sidenav */
	height:100%;
	background:#FFFFFF;
}

/*here will be the content that will appear*/
.content-area {
	margin-left: 5%;
	background:white;
	width:87%;
	height:70%
}

h2{
	color: #437F97;
}